@import "tailwindcss";

body {
  @apply min-h-screen bg-gradient-to-br from-emerald-300 to-sky-700;
  font-family: Pretendard;
}

/* 텍스트 줄임 유틸리티 */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
